body {
  background: linear-gradient(
    93.1deg,
    rgb(238, 254, 183) 19.1%,
    rgb(169, 254, 222) 53.9%,
    rgb(90, 222, 255) 92%
  );
}
ul {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 5px 6px rgba(152, 155, 154, 0.5);
  width: 200px;
  padding: 10px 10px;
  margin-left: 30px;
}
button {
  padding: 0px;
  border-radius: 100px;
  background: transparent;
  border: transparent;
  position: relative;
  top: -32px;
  right: -250px;
}
.mb-3 {
  width: 230px;
}
.container {
  font-family: "Roboto", sans-serif;
  background: rgba(110, 162, 241, 0.418);
  margin-top: 70px;
  border-radius: 40px;
  box-shadow: 10px 10px 10px rgba(152, 155, 154, 0.5);
  max-width: 800px;
  padding: 30px 60px;
}

.infocity {
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 5px 6px rgba(152, 155, 154, 0.5);
  max-width: 300px;
  padding: 5px 5px;
  margin-bottom: 10px;
}
.city {
  text-align: center;
  font-size: 20px;
}
.icons {
  display: block;
  width: 60px;
  height: 30px;
  margin: 0px 0px 0px 660px;
}
.infoday {
  display: block;
  margin: 0px 60px;
}
.description {
  text-align: center;
  font-size: 12px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 5px 6px rgba(152, 155, 154, 0.5);
  max-width: 280px;
  padding: 5px 5px;
  margin-bottom: 10px;
}
.day {
  text-align: center;
  font-size: 12px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 5px 6px rgba(152, 155, 154, 0.5);
  max-width: 280px;
  padding: 5px 5px;
  margin-bottom: 10px;
}
.update {
  text-align: center;
  font-size: 10px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 5px 6px rgba(152, 155, 154, 0.5);
  max-width: 280px;
  padding: 5px 5px;
}
.temperature {
  margin-top: 20px;
  font-size: 50px;
  font-weight: 600;
}
.celsius {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: rgb(134, 90, 170);
}
.fahrenheit {
  font-weight: 200;
  text-decoration: none;
  color: rgb(134, 90, 170);
}

.moreinfo {
  font-size: 16px;
}
.line {
  text-decoration: underline;
}
.nextdays {
  display: block;
  margin-top: 20px;
  text-align: center;
}
.monday {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  font-size: 15px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 5px 6px rgba(152, 155, 154, 0.5);
  width: 70px;
  padding: 5px 5px;
  margin-right: 5px;
}
.tuesday {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  font-size: 15px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 5px 6px rgba(152, 155, 154, 0.5);
  width: 70px;
  padding: 5px 5px;
  margin-right: 5px;
}
.wednesday {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  font-size: 15px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 5px 6px rgba(152, 155, 154, 0.5);
  width: 70px;
  padding: 5px 5px;
  margin-right: 5px;
}
.thursday {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  font-size: 15px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 5px 6px rgba(152, 155, 154, 0.5);
  width: 70px;
  padding: 5px 5px;
  margin-right: 5px;
}
.friday {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  font-size: 15px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 5px 6px rgba(152, 155, 154, 0.5);
  width: 70px;
  padding: 5px 5px;
}
.tempnextdays {
  text-align: center;
  font-size: 13px;
}
.link {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: 500;
  display: block;
  margin-top: 20px;
  text-align: center;
}

.temperature .active {
  color: rgb(134, 90, 170);
  cursor: default;
  text-decoration: none;
}
.temperature .active:hover {
  text-decoration: none;
  cursor: pointer;
  color: rgb(66, 11, 153);
}
.row {
  margin: 0px 75px 0px 75px;
}
.days {
  display: inline;
  list-style-type: none;
  text-align: center;
  font-size: 15px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 5px 6px rgba(152, 155, 154, 0.5);
  width: 85px;
  padding: 5px 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#currentCityButton {
  padding: 0px;
  border-radius: 10px 10px 10px 10px;
  background: transparent;
  border: 10px;
  color: rgb(127, 140, 255);
  position: relative;
  top: -32px;
  right: -250px;
}
